.text-center {
    text-align: center;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

/* 
@media only screen and (min-width:280px) {
    .box {
        display: block;
    }

} */